#das_payment {
    width: 280px;
	box-sizing: border-box;
	transform: scale(0.8);
	transition: all 0.3s;
}

.popup_visible #das_payment{
	transform: scale(1);
	transition: all 0.3s;
}


#das_payment hr{
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

#das_payment_btn {
	cursor: pointer;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	display: block;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 2px solid transparent;
	padding: .375rem .75rem;
	border-radius: 3px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size:16px;
}

#das_payment_btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  transition: background-color 0.3s;
}

.das_amount {
  font-family: sans-serif;
  font-weight: bold;
  color: #252525;
  padding: 0.5em;
}

.das_pay_header {
    padding: 1em 1em 0em 1em;
}

.das_payment_img_container {
    position: relative;
    top: -90px;
    background: radial-gradient(#b0dcff, #007bff);
    border-radius: 50%;
    border: 3px solid white;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 3px 0px #414141;
}

.das_branding {
    box-sizing: border-box;
    width: 100px;
    position: relative;
    top: 18px;
    padding: 15px;
    left: -4px;
}
.das_header_container{
	height: 90px;
}

.das_label, .das_amount{
    position: relative;
    top: -75px;
    font-family: sans-serif;
    color: #2e2e2e;
}


.swal2-container{
	z-index: 100002 !important;
}